.main-div{ 
    display: flex; 
    flex-direction: column;
    justify-content: center; 
    align-items: center;
}

.fab-icon { 
   position: fixed !important;
   right: 50px;
   bottom: 50px;
}

.add-icon {
    color: black !important;
}