.comments-panel-display{ 
    display: flex; 
    flex-direction: row;  


} 

.comment-input{ 
    background-color: antiquewhite; 
    border-radius: 50px; 
    padding: 10px;
} 

.comments-component-display{ 
    display: flex; 
    flex-direction: row;
} 

.comment-fragment-display{ 
    display: flex;
    flex-direction: column; 
    background: floralwhite;
    padding: 10px;
    margin-bottom: 10px;
} 

.comments-style{ 
    margin-left: 10px;
}  

.comments-body{ 
    margin: 15px;
    padding: 10px;
}  

.comments-panel-display-inactive{ 
    -webkit-filter: blur(5px);
    pointer-events: none;
} 



