.button {
    width: 200px !important;
}

.align-center {
    margin-top: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.form {
    width: 100%;
    margin-top: 30px;
  } 

  .profile-image-grid-container{ 
      display: flex;
      flex-direction: column;
      align-items: center;
} 

.progress-container{
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}