.comment-box{ 
    display: flex;
    flex-direction: row;
    max-width: 1000px;
    margin: 10px !important;
}

form{ 
    display: flex;
    flex-direction: row;
    max-width: 1000px;
    margin: 10px !important;
}